
.body-present {
    position: relative;
    z-index: -1;
}

.body-present:before{
    background: url(../image/circles3.png) no-repeat;
    height: 1836px;
    left: 55%;
    width: 100%;
    content: "";
    position: absolute;
    z-index: 1;
    top: 27%;
}


.body-present::after {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: -49%;
    z-index: -1;

    height: 1310px;
    width: 100%;
    background: linear-gradient(233.13deg, #2DB7E6 40.26%, #38EBCB 79.99%);
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.body-present__video {
    position: relative;
    padding-top: 100px;
}

.body-present__content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.body-present__title {
}

.button__play {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20%;
    padding-left: 45%;
    display: none;
}

.body-present__container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.body-present__video:hover .button__play{
    display: block;
    cursor: pointer;
}

